<h2>The <%= @cocktail.name %></h2>

<h4>Dose/ingredients</h4>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %>
    <%= dose.ingredient.name %>
  </li>
  <% end %>
</ul>
<%= cl_image_tag(@cocktail.photo.key, height: 300, width: 400, crop: :fill) if @cocktail.photo.attached? %>
<h3>Create a new dose</h3>
<%= render "doses/form", cocktail: @cocktail, dose: @dose %>

<%= link_to "Back to list", cocktails_path %>
